      * {
        box-sizing: border-box;
      }
       .box{
          font-family: Helvetica,Arial;
          float: left;
          top: -30px;
        }
        .p1{
          background-color: lightgrey;
          border: 1px solid black;
          clear: both;
        }
         .p5{
          background-color: lightgrey;
          font-family: Helvetica,Arial;
          font-size: 14px;
          clear: both;
          padding: 10px;
        }
        .p2{
          background-color: pink;
          border: 1px solid black;
          font-family: Helvetica,Arial;
          font-size: 20px;
          padding: 5px;
          position: relative;
          float: right;
          width: 70px;
          text-align: center;
        }
        .p3{
          background-color: orange;
          border: 1px solid black;
          font-family: Helvetica,Arial;
          font-size: 20px;
          padding: 5px;
          position: relative;
          float: right;
          width: 70px;
          text-align: center;
        }
        .p4{
          background-color: yellow;
          border: 1px solid black;
          font-family: Helvetica,Arial;
          font-size: 20px;
          padding: 5px;
          position: relative;
          float: right;
          width: 70px;
          text-align: center;
        }
        /* Simple Responsive Framework.*/
       .row {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        }
        h1 {
          margin: 30px;
          font-family: Helvetica,Arial;
          text-align: center;
        }
        
/*************** Media ********************/
        /****** DESKTOP ******/
       @media (min-width: 992px)
        {
          .box {
          width: 33.33%;
          padding: 10px;
        }

       }
        /****** TABLET ******/
       @media (min-width: 768px) and (max-width: 991px) 
        {
          .box {
            width: 50%;
            padding: 15px;
          }
          .box1{
            width:100%;
            
          }
        }
        /****** PHONE ******/
       @media (max-width: 767px) 
        {
          .box{
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 18px;
          }
        }