* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
    }
body {
  font-size: 17px;
  background-color: #efefefff;
}

.container-fluid{
  padding:0px 30px 25px 30px;
}
/*********** ESTILO HEADER ***********/
#header-nav{
  background-color: #b7b7b7ff;
  border-radius: 0 ;
  border-color: black;
  border-width: 2.5px;
}

/**** NOMBRE DEL RESTAURANTE - HEAD ****/
.navbar-brand h1 {
  margin:17px 0px 30px;
  color: black;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  left: 25px;
}

/****** ESTILO DEL BOTON ******/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid black;
  background-color:#b1b1b1;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin: -75px 30px;
}
.text-center{
  color:black;
  font-size: 40px;
  margin: 10px 0 7px;
}

#menu{
  width: 100%;
  margin-top:30px;
  padding: 30px 20px 20px;
  position: relative;
  background-color: #b7b7b7ff;
  color:black;
}
#t{
  position: absolute;
  top: 14px;
  bottom: 80px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.3em;
}


/****** MEDIA QUERIES PARA RESPONSIVIDAD ******/

/********** Large devices only **********/
@media (min-width: 1200px) {
#header-nav{
  height: 116px; 
}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  #header-nav{
    height: 116px; 
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #header-nav{
    height: 116px; 
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
.text-center{
  margin-bottom:15px;
}
 #nav-list {
  margin-bottom: 0px;
  margin-top: 0px;
}
#nav-list a {
  height: 60px;
  color: black;
  text-align: center;
  background: #d9d9d9ff;

}
#element{
  padding-top: 11px;
}

#nav-list a:hover {
  background: #c9c9c9;
    border-color: black;
  border-width: 2.5px;

}

  .navbar-brand {
    height: 110px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 20px;
  }

  #menu {
    width: 85vw;
    margin: 10px auto 15px;
  }
}
/*fin q para XS*/

}

